.side-drawer-root {
    height: calc(100vh - var(--appbar-height));
    width: 240px;
}

.side-drawer {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}



