@import '../../../node_modules/@silevis/reactgrid/styles.css';

:root {
    --background-color-light: var(--background-color-light);

    --background-color-dark: var(--background-color-dark);
}

.react-grid-table-container.light-mode {
    color: var(--text-color-light);
    background-color: var(--background-color-light);
}

.react-grid-table-container.dark-mode {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
}

.react-grid-table-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
    padding: var(--padding-medium);
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin-small);
    width: 100%;
}

.file-upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: var(--margin-small);
}

.settings-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hidden-input {
    display: none;
}

.react-grid-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}
