@import '../../../node_modules/@silevis/reactgrid/styles.css';

.react-grid-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-medium);
}

.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin-small);
    width: 100%;
}

.file-upload-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: var(--margin-small);
}

.settings-icon-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hidden-input {
    display: none;
}
