.editor-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.editor-container {
    margin-top: var(--appbar-height);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.editor-root.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.editor-root.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
}

.editor-root.dark-mode, .editor-root.light-mode {
    transition: background-color var(--transition-duration), color var(--transition-duration);
}

.chart-area {
    flex-grow: 1;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.table-area {
    display: flex;
    max-height: 100%;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.editor-icon-button {
    margin: var(--margin-small);
    border: var(--border-width) var(--border-style) var(--border-color-light);
    border-radius: var(--border-radius);
}
