.chart-display-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 64px);
    background-color: #fff;
}

.chart-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    background-color: inherit;
}

.select-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

