/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Grid row */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Grid Col */
.col {
    flex: 1;
    padding: 0 15px;
}
