/* WI kann ich die navbar-root ganz oben platzieren? */
.navbar-root{
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
    color: #fff;
    padding: 0.5rem 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* WI kann ich die MuiToolbar-root ganz oben platzieren? */
.MuiToolbar-root {
  display: flex;
  justify-content: space-between;
}


/* Anpassungen für die Buttons */
.MuiButton-root {
  font-size: 1.1rem;  /* Schriftgröße erhöhen */
  text-transform: none;  /* Text nicht in Großbuchstaben umwandeln */
}

/* Hover-Effekt für die Buttons */
.MuiButton-root:hover {
  background-color: rgba(255, 255, 255, 0.1);  /* Leichter Hover-Effekt */
}
