.settings-page-root {
    font: var(--font-size-large) var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - var(--appbar-height) - var(--margin-xlarge));

}

.user-profile-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-profile-settings {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-settings-header {
    display: flex;
    align-items: center;
    justify-content: center;

}

.notification-settings {
    display: flex;
    align-items: center;
    justify-content: center;

}

.security-settings-header {
    display: flex;
    align-items: center;
    justify-content: center;

}

.security-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}
