table {
  position: absolute;
  bottom: 0;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

table tr:nth-child(even){background-color: #888888;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #8aff84;
  color: white;
}

