:root {
    /* Farb-Variablen */
    --primary-color: #0275d8;
    --secondary-color: #9c27b0;
    --accent-color: #f50057;
    --error-color: #f44336;
    --warning-color: #ff9800;
    --info-color: #2196f3;
    --success-color: rgba(18, 211, 26, 0.56);

    /* Light Mode */
    --background-color-light: #ffffff;
    --navbar-bg-color-light: #333;
    --sidebar-bg-color-light: #444;
    --primary-color-light: #0275d8;
    --text-color-light: #333;

    /* Dark Mode */
    --background-color-dark: #333333;
    --navbar-bg-color-dark: #444444;
    --sidebar-bg-color-dark: #555555;
    --primary-color-dark: #002541;
    --text-color-dark: #ffffff;

    /* Default Werte */
    --default-color: var(--primary-color-light);
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --navbar-bg-color: var(--navbar-bg-color-light);
    --sidebar-bg-color: var(--sidebar-bg-color-light);

    /* Schrift */
    --font-family: 'Hack', monospace;
    --font-family-fallback: 'Hack', Arial, Helvetica, sans-serif;

    /* Schriftgrößen */
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.5rem;

    /* Navbar */
    --appbar-height: 64px;

    /* Sidebar */
    --side-drawer-width: 250px;
    --side-drawer-height: 100vh;


    /* Buttons */
    --button-bg-color: #69ff00;
    --button-text-color: #ffffff;
    --button-height: 40px;
    --button-width: 150px;
    --button-border-radius: 5px;
    --button-hover-bg-color: #0056b3;
    --button-hover-text-color: #ffffff;

    /* Input light */
    --input-bg-color: #ffffff;
    --input-text-color: #333333;
    --input-border-color: #cccccc;
    --input-border-radius: 5px;

    /* Input dark */
    --input-bg-color-dark: #333333;
    --input-text-color-dark: #ffffff;
    --input-border-color-dark: #cccccc;
    --input-border-radius-dark: 5px;

    /* Margin */
    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 2rem;
    --margin-xlarge: 2.5rem;

    /* Padding */
    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 1.5rem;
    --padding-xlarge: 2rem;

    /* Container Padding */
    --container-padding-small: 5px 5px 5px 5px;
    --container-padding-medium: 10px 10px 10px 10px;
    --container-padding-large: 20px 20px 20px 20px;
    --container-padding-xlarge: 40px 40px 40px 40px;

    /* Chart Card Padding */
    --chart-card-padding: 10px 10px 10px 10px;
    --chart-card-padding-small: 5px 5px 5px 5px;
    --chart-card-padding-medium: 10px 10px 10px 10px;
    --chart-card-padding-large: 20px 20px 20px 20px;
    --chart-card-padding-xlarge: 40px 40px 40px 40px;

    /* padding-horizontal und padding-vertical */
    --padding-horizontal: 10%;
    --padding-vertical: 5%;

    /* Responsive Design */
    --max-width: 100%;
    --max-height: 100%;
    --min-width: 0;
    --min-height: 0;
    --max-container-width: 1280px;


    /* Transition */
    --transition: all 0.3s ease-in-out;
    --transition-duration: 0.3s;
    --transition-timing-function: ease-in-out;

    /*Card Content*/
    --card-content-padding: 10px;

    /* Table */
    --table-border-color: #cccccc;
    --table-border-radius: 5px;

    /* Border */
    --border-width: 2px;
    --border-style: solid;
    --border-radius: 5px;

    /*Border Dark & Light*/
    --border-color-dark: #ffffff;
    --border-color-light: #000000;


    /*Global Hover Effect*/
    .global-hover-effect {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: var(--border-radius);
    }

    .global-hover-effect:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.3);
    }

    .dark-mode .global-hover-effect:hover {
        box-shadow: 0 10px 30px -5px rgba(255, 255, 255, 0.3);
    }

    /* Box Shadow */
    --box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    --box-shadow-light: 0 0 5px 0 rgba(255, 255, 255, 0.5);
    --box-shadow-dark: 0 0 5px 0 rgba(0, 0, 0, 0.5);

    /* Box Shadow Hover */
    --box-shadow-hover: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    --box-shadow-hover-light: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    --box-shadow-hover-dark: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    /* Hover Color */
    --hover-bg-color: rgba(42, 59, 70, 0.1);
    --hover-text-color: #0056b3;
    --hover-bg-color-dark: rgba(255, 255, 255, 0.1);
    --hover-text-color-dark: #ffffff;
    --hover-bg-color-light: rgba(4, 29, 47, 0.1);
    --hover-text-color-light: rgba(255, 255, 255, 0.1);
    --hover-error-color: #ff0000;
}

/* Globale Stile */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family), var(--font-family-fallback);
}

.main-content {
    padding-top: var(--appbar-height);
}

.dark-mode {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --navbar-bg-color: var(--navbar-bg-color-dark);
    --sidebar-bg-color: var(--sidebar-bg-color-dark);
    --border-color: var(--border-color-dark);
    --box-shadow: var(--box-shadow-dark);
    --box-shadow-hover: var(--box-shadow-hover-dark);
}

.light-mode {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --navbar-bg-color: var(--navbar-bg-color-light);
    --sidebar-bg-color: var(--sidebar-bg-color-light);
    --border-color: var(--border-color-light);
    --box-shadow: var(--box-shadow-light);
    --box-shadow-hover: var(--box-shadow-hover-light);
}

.confirm-button {
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    height: var(--button-height);
    width: var(--button-width);
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.confirm-button:hover {
    background-color: var(--success-color);
    color: var(--button-hover-text-color);
}



@media (min-width: 0px) and (max-width: 480px) {
    :root {
        --font-size-large: 0.9rem;
        --font-size-xlarge: 1.2rem;
    }

    .settings-page-root {
        padding: var(--padding-small);
    }

    .user-profile-settings-container,
    .notification-settings,
    .security-settings {
        flex-direction: column;
        align-items: stretch;
    }
}


@media (min-width: 481px) and (max-width: 767px) {
    :root {
        --button-width: 130px;
        --font-size-large: 1.1rem;
        --font-size-xlarge: 1.3rem;
        --padding-horizontal: 2%;
        --padding-vertical: 2%;
    }

    .settings-page-root {
        padding: var(--padding-medium);
    }

    .user-profile-settings-container,
    .notification-settings,
    .security-settings {
        flex-direction: row;
        justify-content: space-between;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --padding-horizontal: 3%;
        --padding-vertical: 3%;
    }

    .settings-page-root {
        padding: var(--padding-large);
    }

    .user-profile-settings-container,
    .notification-settings,
    .security-settings {
        flex-direction: row;
        justify-content: space-around;
    }
}


@media (min-width: 1025px) and (max-width: 1280px) {
    :root {
        --button-width: 160px;
        --font-size-large: 1.4rem;
        --font-size-xlarge: 1.8rem;
        --padding-horizontal: 5%;
        --padding-vertical: 5%;
    }

    .settings-page-root {
        padding: var(--padding-xlarge);
    }

    .user-profile-settings-container,
    .notification-settings,
    .security-settings {
        flex-direction: row;
        justify-content: space-evenly;
    }
}


@media (min-width: 1281px) and (max-width: 1920px) {
    :root {
        --button-width: 200px;
        --font-size-large: 1.6rem;
        --font-size-xlarge: 2rem;
        --padding-horizontal: 10%;
        --padding-vertical: 10%;
    }

    .settings-page-root {
        margin: var(--margin-xlarge) auto;
    }

    .user-profile-settings-container,
    .notification-settings,
    .security-settings {
        flex-direction: row;
        justify-content: flex-start;
    }
}
