.pagination-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 50%; /* Zentriert die Box horizontal */
    transform: translateX(-50%); /* Korrigiert die Zentrierung */
    width: calc(var(--max-container-width) + 60px); /* Breite der Cards plus 30px Überstand auf jeder Seite */
    padding: var(--padding-medium); /* Optional: Abstand innerhalb der Box */
    background-color: var(--background-color-light);
    border-radius: var(--border-radius);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Verhindert Überlauf */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Dark Mode spezifische Stile */
.dark-mode .pagination-container {
    background-color: var(--background-color-dark);
    box-shadow: 0 6px 10px rgba(255, 255, 255, 0.1); /* Hellerer Schatten für dunklen Modus */
}

/* Light Mode spezifische Stile */
.light-mode .pagination-container {
    background-color: var(--background-color-light);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); /* Dunklerer Schatten für hellen Modus */
}

.pagination-link {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    text-decoration: none;
    color: var(--primary-color);
    transition: color 0.2s ease, background-color 0.2s ease;
}

.pagination-link:hover, .pagination-link.active {
    background-color: transparent;
    color: var(--hover-text-color);
}

.pagination-item {
    padding: 20px 20px;
    transition: transform 0.3s ease, background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.pagination-item:hover {
    color: var(--hover-text-color);
    transform: scale(1.05);
}

.pagination-item-selected {
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
}

.pagination-item:focus, .pagination-item:hover {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary-color-light);
}

/* Anpassungen für kleinere Bildschirme */
@media (max-width: 480px), (max-width: 768px) {
    /* Anpassungen für kleinere Bildschirme */
    .pagination-container {
        width: calc(100% - 60px); /* Reduziert die Breite auf 100% minus 30px Überstand auf jeder Seite */
    }
}

/* Anpassungen für größere Bildschirme */
@media (min-width: 768px) {
    .pagination-container {
        width: calc(var(--max-container-width) + 60px); /* Breite der Cards plus 30px Überstand auf jeder Seite */
    }
}
