.pagination-root {
    display: flex;
    padding: var(--padding-small);
    margin-top: var(--margin-large);
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.pagination-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.pagination-item:hover {
    background-color: var(--hover-bg-color);
    color: var(--hover-text-color);
    transform: scale(1.05);
}

.pagination-item-selected {
    font-weight: bold;
    color: var(--primary-color);
    background-color: var(--primary-color-light);
}

.light-mode .pagination-item {
    color: var(--primary-color-light);
}

.light-mode .pagination-item:hover {
    background-color: var(--hover-bg-color-light);
    color: var(--hover-text-color);
}

/* Dark Mode */
.dark-mode .pagination-item {
    color: var(--primary-color-dark);
}

.dark-mode .pagination-item:hover {
    background-color: var(--hover-bg-color-dark);
    color: var(--hover-text-color-dark);
}

.dark-mode .pagination-item {
    color: var(--text-color-dark);
}

.dark-mode .pagination-item-selected {
    color: var(--text-color-dark);
}
